:root {
  --white: #fff;
}
/* -------------------------- */
/* ------ Top Nav------ */
/* -------------------------- */
.top-nav {
  background: #472e84;
  left: 0;
  right: 0;
  top: 0;
  padding: 1.5rem 0;
}

.top-nav a {
  text-decoration: underline;
  color: var(--white);
}
.top-nav p {
  color: var(--white);
  font-size: 1.5rem;
  font-weight: 400;
}

@media screen and (max-width: 900px) {
  .top-nav {
    padding: 2rem 0;
  }
  .top-nav p {
    font-size: 2rem;
  }
  .top-nav a {
    font-size: 2rem;
  }
}
